@import "tailwindcss";

@theme {
  --color-dark-100: #6D727533;
  --color-dark-200: #B3B7B9;
  --color-dark-300: #6D727580;
  --color-dark-400: #6D7275;
  --color-dark-500: #353839;
  --color-dark-600: #242627;
  --color-dark-700: #141718;

  --color-purple: #6466E9;
  --color-purple-dark: #36309D;

  --color-white: #F6FCFD;

  --font-sans: "DM Sans", system-ui, sans-serif;
}

button, img {
  @apply cursor-pointer
}

img {
  @apply w-6 h-6
}